body {
  background-color: darkcyan;
}
.App {
  text-align: center;
  width: 60%;
  margin: 8rem auto 5rem;
  padding: 4rem;
  background-image: linear-gradient(
    rgba(169, 169, 169, 0.521),
    rgba(169, 169, 169, 0.801)
  );
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.quoteBox {
  margin-bottom: 4rem;
  font-family: "Grenze Gotisch", cursive;
}
.quote {
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.quote::before {
  content: "“";
  font-family: "Fredoka One", cursive;
  font-size: 2rem;
  margin-right: 1rem;
}
.author {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
}
.quoteBtn {
  background-color: darkcyan;
  padding: 10px 15px;
  font-weight: 600;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.425);
}
.quoteBtn:hover {
  background-color: rgba(169, 169, 169, 0.219);
  color: darkcyan;
  transform: scale(0.95);
  cursor: pointer;
}
